<BODY link="#AA0000" vlink="#770000" marginwidth="0" marginheight="0" topmargin="0" bottommargin="0" leftmargin="0"><font face="Times">
<BASE TARGET="text">
<TABLE BORDER="1" CELLSPACING="5" CELLPADDING="10" WIDTH="100%">
<TR>
<TD BGCOLOR="#CCCCCC"><FONT FACE="Helvetica"><FONT SIZE=+1><A HREF="manoury_text.htm#overview">Overview</A></TD>
<TD BGCOLOR="#CCCCCC"><FONT FACE="Helvetica"><FONT SIZE=+1><A HREF="manoury_text.htm#effects">Effects Network</A></TD>
<TD BGCOLOR="#CCCCCC"><FONT FACE="Helvetica"><FONT SIZE=+1><A HREF="manoury_text.htm#oscillator">Oscillator</A></TD>
<TD BGCOLOR="#CCCCCC"><FONT FACE="Helvetica"><FONT SIZE=+1><A HREF="manoury_text.htm#sampler">Sampler and Markov Chain Player</A></TD>
<TD BGCOLOR="#CCCCCC"><FONT FACE="Helvetica"><FONT SIZE=+1><A HREF="index.htm" TARGET="_parent">Main Page</A></TD>

</TABLE>
